<!doctype html>
<html>
    <head>
    	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <title>{% block page_title %}{% endblock %}Microblog</title>
    </head>
    <body>
    	<div class="container">
        	{% block page_content %}{% endblock %}
    	</div>
    </body>
</html>
