{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_title %}Blog posts | {% endblock %}

{% block page_content %}
<h1>Welcome to my site</h1>

<a href="{% url 'blog:list' %}" class='btn'>Read my Blog</a>

{% endblock %}